<div class="Background">
  <svg class="CodeIcon" viewBox="0 0  1000 1000">
    <g class="Less">
      <rect class="Top" x="100" y="450" rx="50" height="100" width="400" />
      <rect class="Bottom" x="100" y="450" rx="50" height="100" width="300" />
    </g>
    <g class="Slash">
      <rect x="200" y="450" rx="50" height="100" width="600" />
    </g>
    <g class="More">
      <rect class="Top" x="800" y="450" rx="50" height="100" width="300" />
      <rect class="Bottom" x="800" y="450" rx="50" height="100" width="400" />
    </g>
  </svg>
</div>
<div class="Container"><ng-content></ng-content></div>
