@use "sass:map";
@use "sass:math";
@use "palette";
@use "sizes";

:host {
  // display: block;
  width: 100%;
  height: 100%;
  background-color: map.get(palette.$code, "foreground");

  div.Background {
    display: grid;
    width: 100%;
    height: 100%;

    svg {
      place-self: center;
      // height: 500px;

      rect {
        fill: map.get(palette.$code, "background");
        transition: fill 1s;
      }

      &.CodeIcon g {
        &.Less {
          rect {
            transform-origin: 150px 500px;

            &.Top {
              transform: rotate(-45deg);
            }
            &.Bottom {
              transform: rotate(45deg);
            }
          }
        }
        &.Slash rect {
          transform-origin: 500px 500px;
          transform: rotate(-75deg);
        }

        &.More {
          rect {
            transform-origin: 850px 500px;

            &.Top {
              transform: rotate(-135deg);
            }
            &.Bottom {
              transform: rotate(135deg);
            }
          }
        }
      }
    }
  }
}
