@use "sass:math";
@use "sass:map";
@use "palette";
@use "sizes";

:host {
  --cover-min-size: max(100vh, calc((6 * var(--last-name-font-size))));
  --last-name-font-size: calc(var(--g-constant) * 2);
  --change-language-size: var(--g-constant);
  --tools-margin: #{sizes.$margin-m};
  --change-language-full-size: calc(
    var(--change-language-size) + var(--tools-margin)
  );

  display: block;
  min-height: var(--cover-min-size);
  background-color: map.get(palette.$page, "primary");
  user-select: none;
  overflow: hidden;

  div.Tools {
    position: absolute;
    display: grid;
    top: var(--tools-margin);
    right: var(--tools-margin);
    height: var(--change-language-size);
    width: sizes.$magic-constant * 3 + sizes.$margin-m * 2;
    grid-template-areas: "certs terminal language";
    justify-content: space-between;
    z-index: 85;

    button, kun-change-language {
      height: 100%;
      width: var(--change-language-size);
      border-radius: sizes.$border-radius-s;
      overflow: hidden;
    }

    button {
      padding: 0;
      border: none;
      background-color: map.get(palette.$page, "primary");;
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;
        fill: map.get(palette.$page, "helper");
        stroke: map.get(palette.$page, "helper");
        transition: all .5s;

        rect.Slash {
          transform-origin: 50px 55px;
          transform: rotate(-60deg);
        }
      }

      &:hover {
        svg {
          fill: map.get(palette.$page, "accent");
          stroke: map.get(palette.$page, "accent");
        }
      }
    }
  }

  h1.LastName {
    position: absolute;
    display: inline-block;
    top: var(--change-language-full-size);
    line-height: 100%;
    font-size: var(--last-name-font-size);
    color: map.get(palette.$page, "accent");
    transform-origin: calc(var(--last-name-font-size) / 2)
      calc(var(--last-name-font-size) / 2);
    transform: rotate(90deg);
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 25;
    cursor: default;
  }

  div.ContentBlock {
    position: relative;
    display: grid;
    min-height: calc(var(--cover-min-size) - var(--change-language-full-size));
    padding-top: var(--change-language-full-size);
    padding-left: var(--last-name-font-size);
    grid-row: 1;
    grid-column: 1;
    align-items: center;
    justify-items: center;
    z-index: 40;

    div.Info {
      width: 70%;
      max-width: sizes.$magic-constant * 15;
      border: sizes.$border-m solid map.get(palette.$page, "accent");
      border-radius: 0 0 sizes.$border-radius-s sizes.$border-radius-s;

      h2 {
        padding: sizes.$margin-m 0;
        text-align: center;
        color: map.get(palette.$page, "accent");
        border-bottom: sizes.$border-m solid map.get(palette.$page, "accent");
      }

      div.Bio {
        font-size: 1.1rem;
        ul {
          li {
            padding: sizes.$margin-s;
            color: map.get(palette.$page, "accent");

            span {
              color: map.get(palette.$page, "accent");

              &.PointName {
                display: none;
              }
              &.PointDescription {
                font-weight: bolder;
                font-style: italic;
              }
            }
          }
        }
      }

      div.Message {
        padding: sizes.$margin-m;
        font-weight: bold;
        color: map.get(palette.$page, "primary");
        background-color: map.get(palette.$page, "accent");

        h3.Welcome {
          margin: sizes.$margin-s;
          text-align: center;
        }

        p {
          margin: sizes.$margin-s;

          &.Text {
            font-weight: lighter;

            &::before {
              display: inline-block;
              content: "";
              width: math.div(sizes.$magic-constant, 2);
            }
          }

          &.Signature {
            text-align: right;
            font-style: italic;
          }
        }
      }
    }
  }

  div.DecorativeBar {
    position: absolute;
    top: 40%;
    left: -50%;
    display: block;
    background-color: map.get(palette.$page, "helper");;
    height: 20vh;
    width: 200%;
    transform-origin: 50% 50%;
    transform: rotate(10deg);
    z-index: 20;
    overflow: hidden;
  }
}
