@use "sass:map";
@use "palette";
@use "sizes";

:host {
  display: block;
  height: 100%;
  width: 100%;
  padding-bottom: 1px;
  background-color: map.get(palette.$page, "background");
  user-select: none;

  footer {
    border-top: sizes.$border-m solid map.get(palette.$page, "helper");

    h2 {
      margin: sizes.$margin-m;
      text-align: center;
      font-size: 3rem;
      color: map.get(palette.$page, "accent");
    }

    div.Links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: sizes.$magic-constant;
    }

    button#EmailMe {
      display: block;
      margin: sizes.$margin-m auto;
      border: 0;
      padding: 0 sizes.$magic-constant;
      border-radius: sizes.$magic-constant;
      height: sizes.$magic-constant;
      font-size: 2rem;
      font-style: italic;
      font-weight: balder;
      color: map.get(palette.$page, "primary");
      background-color: map.get(palette.$page, "accent");
      transition: all 0.5s;
      cursor: pointer;

      &:hover {
        background-color: map.get(palette.$page, "helper");
      }
    }
  }
}
