<kun-cover (scrollToEvent)="scrollTo($event)"></kun-cover>
<div class="Certificates">
  <h2>{{ "page.certificates.header" | transloco }}</h2>
  <kun-certificates #certificates></kun-certificates>
</div>
<div class="Terminal">
  <h2>
    <span>{{ "page.terminal.header" | transloco }}</span>
  </h2>
  <kun-terminal #terminal [view]="FeatureView.Page"></kun-terminal>
</div>
<footer>
  <h2>{{ "page.linkHub.header" | transloco }}</h2>
  <div class="Links">
    @for (link of links; track link.href) {
      <kun-plink [linkData]="link"></kun-plink>
    }
  </div>
  <button id="EmailMe" (click)="mailMe()">
    {{ "page.emailMe" | transloco }}
  </button>
</footer>
