@use "sass:map";
@use "palette";
@use "sizes";

:host {
  --side-panel-width: #{sizes.$magic-constant * 4};
  --side-panel-computed-width: var(--side-panel-width);
  --workbench-height: #{sizes.$magic-constant * 4};
  --workbench-computed-height: var(--workbench-height);

  display: grid;
  height: 100%;
  width: 100%;
  gap: 0px;
  grid-template-columns:
    sizes.$magic-constant min(var(--side-panel-computed-width), 70%)
    calc(
      100% -
        (min(var(--side-panel-computed-width), 70%) + sizes.$magic-constant)
    );
  grid-template-rows:
    auto max(var(--workbench-computed-height), 0px)
    27px;
  grid-template-areas:
    "sidebar side-panel editor"
    "sidebar side-panel workbench"
    "state-bar state-bar state-bar";
  background-color: map.get(palette.$code, "background");

  kun-sidebar {
    grid-area: sidebar;
  }

  kun-side-panel {
    grid-area: side-panel;
  }

  kun-editor {
    overflow: auto;
    grid-area: editor;
  }

  kun-workbench {
    grid-area: workbench;
  }

  kun-state-bar {
    grid-area: state-bar;
  }
}
