@use "sass:map";
@use "palette";
@use "sizes";

:host {
  display: grid;
  height: 100%;
  width: 100%;
  gap: 0px;
  grid-template-columns: 54px 200px calc(100% - 254px);
  grid-template-rows: 2fr 1fr 27px;
  grid-template-areas:
    "sidebar side-panel editor"
    "sidebar side-panel workbench"
    "state-bar state-bar state-bar";
  background-color: map.get(palette.$code, "background");

  kun-sidebar {
    grid-area: sidebar;
  }

  kun-side-panel {
    grid-area: side-panel;
  }

  kun-editor {
    overflow: auto;
    grid-area: editor;
  }

  kun-workbench {
    grid-area: workbench;
  }

  kun-state-bar {
    grid-area: state-bar;
  }
}
