<kun-sidebar
  [isSidePanelShown]="isSidePanelShown"
  (showSidePanelEvent)="showSidePanel($event)"
></kun-sidebar>
@if (isSidePanelShown) {
  <kun-side-panel
    #sidePanel
    (selectstart)="(false)"
    (resizeEvent)="changeSidePanelWidth($event)"
  ></kun-side-panel>
}
<kun-editor></kun-editor>
@if (true) {
  <kun-workbench
    #workbench
    (resizeEvent)="changeWorkbenchHeight($event)"
  ></kun-workbench>
}
@if (isNotificationShown) {
  <kun-notifications
    (hideNotificationsEvent)="toggleNotifications()"
  ></kun-notifications>
}
<kun-state-bar
  (toggleNotificationEvent)="toggleNotifications()"
></kun-state-bar>
