<kun-sidebar
  [isSidePanelShown]="isShown.sidePanel"
  (showSidePanelEvent)="toggleSidePanel($event)"
></kun-sidebar>
<kun-side-panel
  #sidePanel
  [isShown]="isShown.sidePanel"
  kunResize
  resizeType="right"
  (resizeEvent)="changeSidePanelWidth($event)"
  (selectstart)="(false)"
></kun-side-panel>
@if (isShown.editor) {
  <kun-editor></kun-editor>
}
<kun-workbench
  [class.ActiveBorder]="isShown.workbench && isShown.editor"
  #workbench
  [isShown]="isShown.workbench"
  [currentView]="workbenchView"
  kunResize
  resizeType="top"
  (resizeEvent)="changeWorkbenchHeight($event)"
  (changeTabEvent)="toggleWorkbenchView($event)"
></kun-workbench>
@if (isShown.notifications) {
  <kun-notifications
    (hideNotificationsEvent)="toggleNotifications()"
  ></kun-notifications>
}
<kun-state-bar
  (toggleWorkbenchEvent)="toggleWorkbenchView($event)"
  (toggleNotificationEvent)="toggleNotifications()"
></kun-state-bar>
