@use "sass:map";
@use "sass:math";
@use "palette";
@use "sizes";

:host {
  display: flex;
  flex-direction: column;
  background-color: map.get(palette.$code, "foreground");

  svg.CodeIcon {
    place-self: center;
    grid: 1;
    max-width: 100%;
    max-height: 100%;

    rect {
      fill: map.get(palette.$code, "background");
      transition: fill 1s;
    }

    g {
      &.Less {
        rect {
          transform-origin: 150px 500px;

          &.Top {
            transform: rotate(-45deg);
          }
          &.Bottom {
            transform: rotate(45deg);
          }
        }
      }
      &.Slash rect {
        transform-origin: 500px 500px;
        transform: rotate(-75deg);
      }

      &.More {
        rect {
          transform-origin: 850px 500px;

          &.Top {
            transform: rotate(-135deg);
          }
          &.Bottom {
            transform: rotate(135deg);
          }
        }
      }
    }
  }

  div {
    &.Tabs {
      display: flex;
      min-height: math.div(sizes.$magic-constant, 2) + sizes.$padding-s * 2 + sizes.$border-s;
      width: 100%;
      background-color: map.get(palette.$code, "editor-tabs-bg");
      overflow-x: auto;
    }

    &.Space {
      box-sizing: border-box;
      margin-top: math.div(sizes.$magic-constant, 2);
      height: 100%;
      width: 100%;
    }
  }
}
