@use "sass:map";
@use "sass:math";
@use "palette";
@use "sizes";

:host {
  display: grid;
  background-color: map.get(palette.$code, "foreground");

  svg {
    place-self: center;
    grid: 1;
    max-width: 100%;
    max-height: 100%;

    rect {
      fill: map.get(palette.$code, "background");
      transition: fill 1s;
    }

    &.CodeIcon g {
      &.Less {
        rect {
          transform-origin: 150px 500px;

          &.Top {
            transform: rotate(-45deg);
          }
          &.Bottom {
            transform: rotate(45deg);
          }
        }
      }
      &.Slash rect {
        transform-origin: 500px 500px;
        transform: rotate(-75deg);
      }

      &.More {
        rect {
          transform-origin: 850px 500px;

          &.Top {
            transform: rotate(-135deg);
          }
          &.Bottom {
            transform: rotate(135deg);
          }
        }
      }
    }
  }
}
