@use "sass:map";
@use "sass:math";
@use "palette";
@use "sizes";

:host {
  display: flex;
  flex-direction: column;
  background-color: map.get(palette.$code, "foreground");

  svg.CodeIcon {
    place-self: center;
    grid: 1;
    max-width: 100%;
    max-height: 100%;

    rect {
      fill: map.get(palette.$code, "background");
      transition: fill 1s;
    }

    g {
      &.Less {
        rect {
          transform-origin: 150px 500px;

          &.Top {
            transform: rotate(-45deg);
          }
          &.Bottom {
            transform: rotate(45deg);
          }
        }
      }
      &.Slash rect {
        transform-origin: 500px 500px;
        transform: rotate(-75deg);
      }

      &.More {
        rect {
          transform-origin: 850px 500px;

          &.Top {
            transform: rotate(-135deg);
          }
          &.Bottom {
            transform: rotate(135deg);
          }
        }
      }
    }
  }

  div {
    &.Tabs {
      display: flex;
      align-items: stretch;
      min-height: math.div(sizes.$magic-constant, 2) + sizes.$padding-s * 2 +
        sizes.$border-s;
      width: 100%;
      background-color: map.get(palette.$code, "editor-tabs-bg");
      overflow-x: auto;
    }

    &.Space {
      display: grid;
      grid-template-columns: auto 1fr 0;
      grid-auto-rows: min-content;
      margin-top: math.div(sizes.$magic-constant, 2);
      width: 100%;
      overflow: auto;

      span {
        white-space: pre-wrap;

        &.LineNumber {
          text-align: right;
          padding: 0 sizes.$margin-m;
          color: map.get(palette.$code, "inactive");
          user-select: none;
        }

        &.LineText {
          padding-right: sizes.$margin-m;
          color: map.get(palette.$code, "active");

          span {
            &.bold {
              font-weight: bold;
            }

            &.italic {
              font-style: italic;
            }

            &.unused {
              opacity: 0.667;
            }

            &.construction {
              color: map.get(palette.$code, "editor-construction");
            }

            &.method {
              color: map.get(palette.$code, "editor-method");
            }

            &.constant {
              color: map.get(palette.$code, "editor-constant");
            }

            &.property {
              color: map.get(palette.$code, "editor-property");
            }

            &.string {
              color: map.get(palette.$code, "editor-string");
            }

            &.type {
              color: map.get(palette.$code, "editor-type");
            }

            &.argument {
              color: map.get(palette.$code, "editor-argument");
              font-style: italic;
            }

            &.comment {
              color: map.get(palette.$code, "editor-comment");
            }
          }
        }
      }
    }
  }
}
