@use "sass:map";
@use "sass:math";
@use "sizes";
@use "palette";

:host {
  position: absolute;
  right: sizes.$margin-m;
  bottom: math.div(sizes.$magic-constant, 2) + sizes.$margin-m;
  display: block;
  border-radius: sizes.$border-radius-s;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 10px map.get(palette.$code, "background");
  width: sizes.$magic-constant * 5;
  color: map.get(palette.$code, "active");
  background-color: map.get(palette.$code, "background");
  overflow: hidden;

  div.Header {
    display: grid;
    grid-template-areas: "text icon";
    grid-template-columns: 1fr math.div(sizes.$magic-constant, 2);
    grid-template-rows: math.div(sizes.$magic-constant, 2);
    align-items: center;
    box-sizing: border-box;
    padding: sizes.$padding-s;
    background-color: map.get(palette.$code, "foreground");

    p {
    grid-area: text;
      font-size: sizes.$text-size-s;
    }

    button {
        grid-area: icon;
        border: 0;
        border-radius: sizes.$border-radius-s;
        padding: 0;
        height: 100%;
        width: 100%;
        display: block;
        background-color: transparent;
        cursor: pointer;

        svg {
            fill: map.get(palette.$code, "notifications-front");

          rect {
            width: 80px;
            height: 10px;
            transform-origin: 50px 50px;
    
            &.First {
              transform: rotate(45deg);
            }
    
            &.Second {
              transform: rotate(-45deg);
            }
          }
        }

        &:hover {
            background-color:  map.get(palette.$code, "notifications-active-bg");
        }
    }

  }

  div.Notifications {
    box-sizing: border-box;
    padding: sizes.$padding-s;


    div.Info {
        display: grid;
        grid-template-areas: "icon text";
        grid-template-columns: math.div(sizes.$magic-constant, 4) 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        gap: sizes.$padding-s;

        svg {
            grid-area: icon;
            fill: map.get(palette.$code, "info");
            stroke: map.get(palette.$code, "info");

            circle {
            &.Shell {
                stroke-width: 10px;
                fill: transparent;
              }
            }
      
              rect {
                width: 30px;
                height: 10px;
                transform-origin: 50px 50px;
                transform: rotate(90deg);
              }
        }
    
        p {
            grid-area: text;
        }
    }

  }
}
