<button class="Terminal">
  <svg viewBox="0 0 100 100">
    <g class="TopPart">
      <rect class="Top" rx="5" x="45" y="30" />
      <rect class="Bottom" rx="5" x="45" y="30" />
    </g>
    <g class="BottomPart">
      <rect class="Top" rx="5" x="45" y="60" />
      <rect class="Bottom" rx="5" x="45" y="60" />
    </g>
  </svg>
</button>
<span class="Branch" (selectstart)="(false)"
  >© {{ currentYear }} {{ "author" | transloco }}</span
>
<button class="Problems">
  <svg class="Error" viewBox="0 0 100 100">
    <circle cy="50" cx="50" r="40" />
    <rect class="First" rx="5" x="30" y="45" />
    <rect class="Second" rx="5" x="30" y="45" />
  </svg>
  0
  <svg class="Warning" viewBox="0 0 100 100">
    <g class="Tiangle">
      <rect class="Left" rx="5" x="10" y="80" />
      <rect class="Right" rx="5" x="10" y="80" />
      <rect class="Bottom" rx="5" x="10" y="80" />
    </g>
    <circle cy="65" cx="50" r="2.5" />
  </svg>
  0
</button>
<button (click)="toggleNotifications($event)" class="Notifications">
  <svg viewBox="0 0 100 100">
    <g class="Bell">
      <circle class="Top" cy="30" cx="50" r="20" />
      <rect class="Middle" x="30" y="30" />
      <rect class="Bottom" rx="7.5" x="15" y="55" />
    </g>
    <circle class="Clapper" cy="70" cx="50" r="10" />
  </svg>
</button>
