<div class="Problem">
  <svg class="Warning" viewBox="0 0 100 100">
    <g class="Tiangle">
      <rect class="Left" rx="5" x="10" y="80" />
      <rect class="Right" rx="5" x="10" y="80" />
      <rect class="Bottom" rx="5" x="10" y="80" />
    </g>
    <circle cy="65" cx="50" r="2.5" />
  </svg>
  <p>
    {{ "code.workbench.tabs.problems.list.info.cute" | transloco }}
    <a href="https://www.youtube.com/watch?v=yrWOhhOsg2k"
      >({{ "code.workbench.tabs.problems.details" | transloco }})</a
    >
  </p>
</div>
