@use "sass:math";
@use "sass:map";
@use "palette";
@use "sizes";

:host {
  position: relative;
  height: 100%;
  cursor: default;

  p {
    box-sizing: border-box;
    line-height: math.div(sizes.$magic-constant, 2);
    height: math.div(sizes.$magic-constant, 2);
    margin: 0 sizes.$margin-s;
    font-size: sizes.$text-size-s;
    color: map.get(palette.$code, "active");
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
