<div class="Tools">
  <button (click)="scrollTo(PageBlock.Certificates)">
    <svg class="Certificate" viewBox="0 0 100 100">
      <rect
        class="Border"
        rx="5"
        stroke-width="5"
        x="10"
        y="20"
        height="60"
        width="80"
        fill="none"
      />
      <g class="Text">
        <rect rx="5" x="30" y="35" height="5" width="40" />
        <rect rx="5" x="20" y="50" height="5" width="20" />
        <rect rx="5" x="50" y="50" height="5" width="15" />
      </g>
      <circle r="10" cx="75" cy="65" />
    </svg>
  </button>
  <button (click)="scrollTo(PageBlock.Terminal)">
    <svg class="Terminal" viewBox="0 0 100 100">
      <rect
        class="Border"
        rx="5"
        stroke-width="5"
        x="10"
        y="20"
        height="60"
        width="80"
        fill="none"
      />
      <rect class="Top" x="10" y="20" height="10" width="80" />
      <rect class="Slash" rx="5" x="30" y="50" height="5" width="40" />
    </svg>
  </button>
  <kun-change-language [view]="pageView"></kun-change-language>
</div>
<h1 class="LastName">{{ "page.cover.lastName" | transloco }}</h1>
<div class="ContentBlock">
  <div class="Info">
    <h2>// {{ "page.cover.firstName" | transloco }}</h2>
    <div class="Bio">
      <ul>
        <li>
          <span class="PointDescription">
            {{ "page.cover.bio.sex.description" | transloco }}</span
          >
        </li>
        <li>
          <span class="PointDescription">
            ≈{{ age }} {{ "page.cover.bio.age.description" | transloco }}</span
          >
        </li>
        <li>
          <span class="PointDescription">
            {{ "page.cover.bio.location.description" | transloco }}</span
          >
        </li>
        <li>
          <span class="PointDescription">
            {{ "page.cover.bio.languages.description" | transloco }}</span
          >
        </li>
      </ul>
    </div>
    <div class="Message">
      <h3 class="Welcome">{{ "page.cover.message.welcome" | transloco }}</h3>
      <p class="Text">{{ "page.cover.message.text" | transloco }}</p>
      <p class="Signature">{{ "page.cover.message.signature" | transloco }}</p>
    </div>
  </div>
</div>
<div class="DecorativeBar"></div>
