@use "sass:map";
@use "palette";

:host {
  display: grid;
  min-height: 100vh;
  background-color: map.get(palette.$code, "background");

  kun-dog-ear {
    position: fixed;
    grid-column: 1;
    grid-row: 1;
    z-index: 50;

    &.Active {
      position: relative;
      z-index: 100;
    }
  }
}
