@if (isViewChangeTriggered || view === FeatureView.Page) {
  <kun-dog-ear
    [class.Active]="view === FeatureView.Page"
    [featureView]="FeatureView.Page"
    [isViewChangeTriggered]="isViewChangeTriggered"
    (startChangeViewEvent)="startChangeView($event)"
    (changeViewEvent)="changeView($event)"
  >
    <kun-index></kun-index>
  </kun-dog-ear>
}

@if (isViewChangeTriggered || view === FeatureView.Code) {
  <kun-dog-ear
    [class.Active]="view === FeatureView.Code"
    [featureView]="FeatureView.Code"
    [isViewChangeTriggered]="isViewChangeTriggered"
    (startChangeViewEvent)="startChangeView($event)"
    (changeViewEvent)="changeView($event)"
  >
    <kun-editor></kun-editor>
  </kun-dog-ear>
}
