@use "sass:map";
@use "palette";

:host {
  background-color: map.get(palette.$code, "background");

  kun-dog-ear {
    position: fixed;
    display: block;
    min-width: 100%;
    min-height: 100%;
    z-index: 50;

    &.Active {
      position: absolute;
      z-index: 100;

      &.Code {
        display: fixed;
      }
    }

    &.Code {
      min-width: 390px;
    }
  }
}
