<!-- eslint-disable @angular-eslint/template/elements-content -->
<button
  #earButton
  class="Ear"
  (mousemove)="hoverObservable.next($event)"
  (click)="startViewChange($event)"
  [disabled]="isViewChangeTriggered"
></button>
<div #earBackground class="EarBackground">
  @if (isPageView) {
    <svg class="CodeIcon" viewBox="0 0  1000 1000">
      <g class="Less">
        <rect class="Top" x="100" y="450" rx="50" height="100" width="400" />
        <rect class="Bottom" x="100" y="450" rx="50" height="100" width="300" />
      </g>
      <g class="Slash">
        <rect x="200" y="450" rx="50" height="100" width="600" />
      </g>
      <g class="More">
        <rect class="Top" x="800" y="450" rx="50" height="100" width="300" />
        <rect class="Bottom" x="800" y="450" rx="50" height="100" width="400" />
      </g>
    </svg>
  } @else if (isCodeView) {
    <svg class="FolderIcon" viewBox="0 0  1000 1000">
      <rect class="Top" x="200" y="250" rx="50" height="200" width="300" />
      <rect class="Bottom" x="200" y="350" rx="50" height="400" width="600" />
    </svg>
  }
</div>
<div #earTip class="EarTip"></div>
<div #content class="Content">
  <div class="rotation-fixer">
    <ng-content></ng-content>
  </div>
</div>
