@use "sass:math";
@use "sass:map";
@use "palette";
@use "sizes";

:host {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: map.get(palette.$code, "foreground");
  cursor: default;
}
