@use "sass:math";
@use "sass:map";
@use "palette";
@use "sizes";

:host {
  position: relative;
  cursor: default;

  div.ResizeTrigger {
    position: absolute;
    right: -3px;
    width: 6px;
    height: 100%;
    transition: background-color 0.25s;
    cursor: ew-resize;

    &.Active,
    &:hover {
      background-color: map.get(palette.$code, "accent");
    }
  }

  div.Container {
    height: 100%;
    overflow-x: hidden;

    p {
      box-sizing: border-box;
      line-height: math.div(sizes.$magic-constant, 2);
      height: math.div(sizes.$magic-constant, 2);
      margin: 0 sizes.$margin-s;
      font-size: sizes.$text-size-s;
      color: map.get(palette.$code, "active");
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
