@use "sass:map";
@use "sass:math";
@use "palette";
@use "sizes";

button.Ear {
  --icon-size: #{sizes.$magic-constant};
  --full-size-component: calc(var(--icon-size) * 2);
  --ear-start-path: polygon(
    var(--icon-size) 0,
    0 var(--icon-size),
    var(--icon-size) var(--icon-size)
  );
  --background-start-path: polygon(var(--icon-size) 0, 0 0, 0 var(--icon-size));
  --ear-computed-path: var(--ear-start-path);
  --background-computed-path: var(--background-start-path);

  position: absolute;
  display: block;
  height: 0;
  width: 0;
  padding: 0;
  padding-bottom: var(--full-size-component);
  border: none;
  background-color: transparent;
  cursor: pointer;

  &.Page {
    --color-background: #{map.get(palette.$code, "background")};
    --color-ear: #{map.get(palette.$page, "background")};
    --color-inactive: #{map.get(palette.$code, "text-comment")};
    --color-active: #{map.get(palette.$code, "accent")};

    transform: rotateY(0deg);
    left: 0;
    padding-right: var(--full-size-component);

    svg.CodeIcon {
      transform: rotateY(0deg);
    }
  }

  &.Code {
    --color-background: #{map.get(palette.$page, "background")};
    --color-ear: #{map.get(palette.$code, "text-comment")};
    --color-inactive: #{map.get(palette.$page, "helper")};
    --color-active: #{map.get(palette.$page, "accent")};

    transform: rotateY(180deg);
    right: 0;
    padding-left: var(--full-size-component);

    svg.CodeIcon {
      transform: rotateY(180deg);
    }
  }

  svg.CodeIcon {
    position: absolute;
    display: block;
    height: var(--icon-size);
    width: var(--icon-size);

    > g {
      rect {
        fill: var(--color-inactive);
        transition: fill 1s;
      }

      &.Less {
        rect {
          transform-origin: 150px 500px;

          &.Top {
            transform: rotate(-45deg);
          }
          &.Bottom {
            transform: rotate(45deg);
          }
        }
      }
      &.Slash rect {
        transform-origin: 500px 500px;
        transform: rotate(-75deg);
      }

      &.More {
        rect {
          transform-origin: 850px 500px;

          &.Top {
            transform: rotate(-135deg);
          }
          &.Bottom {
            transform: rotate(135deg);
          }
        }
      }
    }
  }

  div.Background,
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: var(--full-size-component);
    width: var(--full-size-component);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  div.Background {
    background-color: var(--color-background);
    clip-path: var(--background-start-path);
    animation-name: endBackgroundAnimation;
  }

  &::before {
    content: "";
    background-color: var(--color-ear);
    clip-path: var(--ear-start-path);
    animation-name: endEarAnimation;
  }

  &:hover {
    div.Background {
      animation-name: startBackgroundAnimation;

      svg.CodeIcon g rect {
        fill: var(--color-active);
      }
    }

    &::before {
      animation-name: startEarAnimation;
    }
  }
}

@keyframes startBackgroundAnimation {
  from {
    clip-path: var(--background-start-path);
  }
  to {
    clip-path: var(--background-computed-path);
  }
}

@keyframes endBackgroundAnimation {
  from {
    clip-path: var(--background-computed-path);
  }
  to {
    clip-path: var(--background-start-path);
  }
}

@keyframes startEarAnimation {
  from {
    clip-path: var(--ear-start-path);
  }
  to {
    clip-path: var(--ear-computed-path);
  }
}

@keyframes endEarAnimation {
  from {
    clip-path: var(--ear-computed-path);
  }
  to {
    clip-path: var(--ear-start-path);
  }
}
