@use "sass:map";
@use "sass:math";
@use "palette";
@use "sizes";

$full-size-component: sizes.$magic-constant * 2;

:host {
  --icon-size: #{sizes.$magic-constant};
  --ear-start-path: polygon(
    var(--icon-size) 0,
    0 var(--icon-size),
    var(--icon-size) var(--icon-size)
  );
  --foreground-start-path: polygon(
    var(--icon-size) 0,
    0 var(--icon-size),
    0 100%,
    100% 100%,
    100% 0
  );
  --ear-computed-path: var(--ear-start-path);
  --foreground-computed-path: var(--foreground-start-path);

  display: block;
  height: $full-size-component;
  width: $full-size-component;
  cursor: pointer;

  svg#CodeIcon {
    display: block;
    height: var(--icon-size);
    width: var(--icon-size);
    padding-right: var(--icon-size);
    padding-bottom: var(--icon-size);
    background-color: map.get(palette.$code, "background");
    opacity: 0.5;

    > g {
      rect {
        fill: map.get(palette.$code, "text-comment");
        transition: fill 1s;
      }

      &.Less {
        rect {
          transform-origin: 150px 500px;

          &.Top {
            transform: rotate(-45deg);
          }
          &.Bottom {
            transform: rotate(45deg);
          }
        }
      }
      &.Slash rect {
        transform-origin: 500px 500px;
        transform: rotate(-75deg);
      }

      &.More {
        rect {
          transform-origin: 850px 500px;

          &.Top {
            transform: rotate(-135deg);
          }
          &.Bottom {
            transform: rotate(135deg);
          }
        }
      }
    }
  }

  div.Foreground,
  div.Ear {
    display: none !important;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: $full-size-component;
    width: $full-size-component;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  div.Foreground {
    background-color: map.get(palette.$page, "primary");
    clip-path: var(--foreground-start-path);
    animation-name: endForegroundAnimation;
  }

  div.Ear {
    background-color: map.get(palette.$page, "background");
    clip-path: var(--ear-start-path);
    animation-name: endEarAnimation;
  }

  &:hover {
    svg#CodeIcon g rect {
      fill: map.get(palette.$code, "accent");
    }

    div.Foreground {
      animation-name: startForegroundAnimation;
    }

    div.Ear {
      animation-name: startEarAnimation;
    }
  }
}

@keyframes startForegroundAnimation {
  from {
    clip-path: var(--foreground-start-path);
  }
  to {
    clip-path: var(--foreground-computed-path);
  }
}

@keyframes endForegroundAnimation {
  from {
    clip-path: var(--foreground-computed-path);
  }
  to {
    clip-path: var(--foreground-start-path);
  }
}

@keyframes startEarAnimation {
  from {
    clip-path: var(--ear-start-path);
  }
  to {
    clip-path: var(--ear-computed-path);
  }
}

@keyframes endEarAnimation {
  from {
    clip-path: var(--ear-computed-path);
  }
  to {
    clip-path: var(--ear-start-path);
  }
}
