<button
  #ear
  [class]="{
    Ear: true,
    Page: featureView === FeatureView.Page,
    Code: featureView === FeatureView.Code,
  }"
  (click)="startViewChange()"
>
  <div class="Background">
    @if (featureView === FeatureView.Page) {
      <svg class="CodeIcon" viewBox="0 0  1000 1000">
        <g class="Less">
          <rect class="Top" x="100" y="450" rx="50" height="100" width="400" />
          <rect
            class="Bottom"
            x="100"
            y="450"
            rx="50"
            height="100"
            width="300"
          />
        </g>
        <g class="Slash">
          <rect x="200" y="450" rx="50" height="100" width="600" />
        </g>
        <g class="More">
          <rect class="Top" x="800" y="450" rx="50" height="100" width="300" />
          <rect
            class="Bottom"
            x="800"
            y="450"
            rx="50"
            height="100"
            width="400"
          />
        </g>
      </svg>
    } @else if (featureView === FeatureView.Code) {
      <svg class="FolderIcon" viewBox="0 0  1000 1000">
        <rect class="Top" x="200" y="250" rx="50" height="200" width="300" />
        <rect class="Bottom" x="200" y="350" rx="50" height="400" width="600" />
      </svg>
    }
  </div>
</button>
<div class="Content">
  <ng-content></ng-content>
</div>
