@use "sass:map";
@use "sass:math";
@use "palette";
@use "sizes";

:host {
  --icon-size: #{sizes.$magic-constant};
  --full-size-component: calc(var(--icon-size) * 2);
  --ear-start-path: polygon(
    var(--icon-size) 0,
    0 var(--icon-size),
    var(--icon-size) var(--icon-size)
  );
  --background-start-path: polygon(var(--icon-size) 0, 0 0, 0 var(--icon-size));
  --ear-computed-path: var(--ear-start-path);
  --background-computed-path: var(--background-start-path);

  display: block;
  height: var(--icon-size);
  width: var(--icon-size);
  padding-right: calc(var(--full-size-component) - var(--icon-size));
  padding-bottom: calc(var(--full-size-component) - var(--icon-size));
  cursor: pointer;

  svg.CodeIcon {
    display: block;
    height: var(--icon-size);
    width: var(--icon-size);

    > g {
      rect {
        fill: map.get(palette.$code, "text-comment");
        transition: fill 1s;
      }

      &.Less {
        rect {
          transform-origin: 150px 500px;

          &.Top {
            transform: rotate(-45deg);
          }
          &.Bottom {
            transform: rotate(45deg);
          }
        }
      }
      &.Slash rect {
        transform-origin: 500px 500px;
        transform: rotate(-75deg);
      }

      &.More {
        rect {
          transform-origin: 850px 500px;

          &.Top {
            transform: rotate(-135deg);
          }
          &.Bottom {
            transform: rotate(135deg);
          }
        }
      }
    }
  }

  div.Background,
  div.Ear {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: var(--full-size-component);
    width: var(--full-size-component);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  div.Background {
    background-color: map.get(palette.$code, "background");
    clip-path: var(--background-start-path);
    animation-name: endBackgroundAnimation;
  }

  div.Ear {
    background-color: map.get(palette.$page, "background");
    clip-path: var(--ear-start-path);
    animation-name: endEarAnimation;
  }

  &:hover {
    div.Background {
      animation-name: startBackgroundAnimation;

      svg.CodeIcon g rect {
        fill: map.get(palette.$code, "accent");
      }
    }

    div.Ear {
      animation-name: startEarAnimation;
    }
  }
}

@keyframes startBackgroundAnimation {
  from {
    clip-path: var(--background-start-path);
  }
  to {
    clip-path: var(--background-computed-path);
  }
}

@keyframes endBackgroundAnimation {
  from {
    clip-path: var(--background-computed-path);
  }
  to {
    clip-path: var(--background-start-path);
  }
}

@keyframes startEarAnimation {
  from {
    clip-path: var(--ear-start-path);
  }
  to {
    clip-path: var(--ear-computed-path);
  }
}

@keyframes endEarAnimation {
  from {
    clip-path: var(--ear-computed-path);
  }
  to {
    clip-path: var(--ear-start-path);
  }
}
