@use "sass:map";
@use "palette";
@use "sizes";

:host {
    margin: sizes.$margin-m;
    height: sizes.$magic-constant;
    border-radius: sizes.$magic-constant;
    overflow: hidden;

    a {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: sizes.$magic-constant auto;
        grid-template-rows: sizes.$magic-constant;
        align-items: center;
        text-decoration: none;
        transition: all .5s;

        img {
            box-sizing: border-box;
            height: 100%;
            padding: sizes.$margin-m;
        }

        span {
            font-weight: bold;
            font-size: 1.2rem;
            color: map.get(palette.$page, "accent");
            margin: 0 sizes.$margin-m;
            transition: all .5s;
        }

        &:hover {
            background-color: map.get(palette.$page, "primary");

            span {
                color: map.get(palette.$page, "accent");
            }
        }
    }
}