$code: (
  background: #21222c,
  ground: #272a3c,
  foreground: #282a36,

  active-bg: #373a49,

  sidebar-bg: #343746,
  sidebar-bg-active: #463441,
  sidebar-front: #6272a4,

  state-bar-bg: #191a21,
  state-bar-bg-active: #202230,
  state-bar-front: white,

  inactive: #5c6a9a,
  active: #f8f8f2,

  accent: #ff79c6,

  error: red,
  warning: #fd5f00,
  info: #2c52fd,
);

$page: (
  primary: #faefde,
  accent: #8d6c9f,
  helper: #cda1a7,
  background: #efd8be,
);
