$code: (
  accent: #ff79c6,

  active: #f8f8f2,
  inactive: #5c6a9a,

  background: #21222c,
  ground: #272a3c,
  foreground: #282a36,

  active-bg: #373a49,

  error: red,
  warning: #fd5f00,
  info: #2c52fd,

  sidebar-bg: #343746,
  sidebar-bg-active: #463441,
  sidebar-front: #6272a4,

  editor-tabs-bg: #191a21,

  state-bar-bg: #191a21,
  state-bar-bg-active: #202230,
  state-bar-front: white,

  terminal-red: #fa0053,
  terminal-green: #59ff59,
  terminal-blue: #395dff,
  terminal-orange: #fdba00,
);

$page: (
  primary: #faefde,
  accent: #8d6c9f,
  helper: #cda1a7,
  background: #efd8be,

  terminal-red: #f97688,
  terminal-green: #77bb5a,
  terminal-blue: #5d71d1,
  terminal-orange: #eba16c,
);
