@use "sass:math";

$magic-constant: 54px;
$resize: 6px;

$border-radius-s: 5px;
$border-s: 1px;
$border-m: 5px;

$padding-s: 6px;

$margin-xs: 2px;
$margin-s: 6px;
$margin-m: 12px;
$margin-l: 24px;

$text-size: 1rem;
$text-size-s: $text-size * 0.7;

$shadow-m: 0px 0px 20px 10px;

$code-min-width: 390px;
$code-min-height: $magic-constant * 5;

$page-min-width: $magic-constant * 7;

$code: (
  tabs-height: $magic-constant,
  tabs-text: $magic-constant * 0.45,
  breadcrumbs-height: $magic-constant * 0.75,
  breadcrumbs-text: $magic-constant * 0.4,
  text-editor: $magic-constant * 0.35,
  gap: math.div($magic-constant, 3),
  move-trigger: 5px,
);
